# edit this file and save it as config/cuki.yaml
# each mapping associates a Confluence page with a folder containing one or more feature files
---
host: http://mywiki
container: "h1. Acceptance Criteria"
tags:
  draft: "{info:title=Draft version}"
  signed_off: "{info:title=Signed-off}"
mappings:
  123: features/products
  124: features/admin