# edit this and save it as config/cuki.yaml
# the mappings associate the page IDs on Confluence with local feature files
---
host: http://mywiki
tags:
  draft: "{info:title=Draft version}"
  signed_off: "{info:title=Signed-off}"
mappings:
  123: features/products/add_product.feature # single file mapping
  124: features/products/remove_product.feature # single file mapping
  125: features/admin # folder mapping
